.link-to-product{
    text-decoration: none;
    color: black;
} 
.categorycartitem{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 150px;
    height: 151px;
    border: 1px solid black;
}
.categorycartitem:hover{
    background-color: #db4444;
}