body{
    margin: 0;
}
.navbar{
    position: sticky;
    top: -50px;
    display: -ms-flexbox;
    z-index: 10;
    background-color: #F5F5F5;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    .navbar-head{
        display: flex;
        align-items: center;
        gap: 222px;
        background-color: black;
        color: white;
        width: 100%;
        height: 50px;
        .text{
            margin-left: 500px;
            a{
                font-size: 1rem;
                color: white;
                margin-left: 15px;
            }
            .lenguage{
                margin: 100px;
            }
        }
    
    }
    @media (max-width:1400px) {
        .navbar-head{
            gap: 220px;
            .text{
                margin-left: 400px;
            }
        }      
    }
    @media (max-width:1300px) {
        .navbar-head{
            gap: 200px;
            .text{
                margin-left: 330px;
            }
        }      
    }
    @media (max-width:1200px) {
        .navbar-head{
            gap: 180px;
            .text{
                margin-left: 230px;
            }
        }      
    }
    @media (max-width:1100px) {
        .navbar-head{
            gap: 140px;
            .text{
                margin-left: 150px;
            }
        }      
    }
    @media (max-width:1000px) {
        .navbar-head{
            gap: 100px;
            .text{
                margin-left: 100px;
            }
        }      
    }
    @media (max-width:900px) {
        .navbar-head{
            gap: 70px;
            .text{
                margin-left: 70px;
            }
        }      
    }
    @media (max-width:800px) {
        .navbar-head{
            gap: 120px;
            .text{
                margin-left: 120px;
                width: 350px;
            }
        }      
    }
    @media (max-width:700px) {
        .navbar-head{
            gap: 80px;
            .text{
                margin-left: 80px;
                width: 350px;
            }
        }      
    }
    @media (max-width:600px) {
        .navbar-head{
            gap: 50px;
            .text{
                margin-left: 50px;
                width: 300px;
            }
        }      
    }

    &.dark{
        background-color: rgb(10, 10, 10);
        .navbar-head{
            background-color: rgba(0,0,0,0.9);
            .text a{
                color: rgb(230, 230, 230);
            }
        }
    }
    .navbar-menu{
        width: 800px;
        margin: 10px 0px 10px 0px;
        margin-left: 115px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 180px;
        align-items: center;
        .menu-list{
            width: 400px;
            display: flex;
            justify-content: space-between;
            font-size: 1.3rem;
        }
        .navbar-header{
            font-size: 1.4rem;
        }
        .menu-list a{
            text-decoration: none;
            color: #090909;
        }
        .menu-list a:hover{
            text-decoration: underline;
            line-height: 10px;
        }
        .nav-search-div{
            display: flex;
            align-items: center;
            gap: 15px;
            svg{
                cursor: pointer;
                font-size: 1.7rem;
            }
            .nav-search {
                display: flex;
                align-items: center;
                background-color: #F5F5F5;
                padding-left:10px;
                border-radius: 4px;
                width: 250px;
                height: 45px;
                .nav-search-input {
                    background-color: #F5F5F5;
                    font-size: 1rem;
                    color: black;
                    border: none;
                    outline: none;
                    flex-grow: 1;
                }
                .nav-search-icon {
                    cursor: pointer;
                    font-size: 1.7rem;
                    margin-right: 10px;
                    color: #090909;
                }
            }
            .theme-btn{
                cursor: pointer;
                border: none;
                font-size: 1.7rem;
                background-color: transparent;
            }
        }
    }
    @media (max-width:1500px) {
        .navbar-menu{
            width: 800px;
            margin-top: 20px;
            margin-left: 95px;
            gap: 180px;
            .menu-list{
                width: 350px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 250px;
                    height: 45px;
                    .nav-search-input {
                        font-size: 1rem;
                    }
                    .nav-search-icon {
                        font-size: 1.7rem;
                        margin-right: 10px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:1400px) {
        .navbar-menu{
            width: 700px;
            margin-top: 20px;
            margin-left: 95px;
            gap: 180px;
            .menu-list{
                width: 300px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 200px;
                    height: 45px;
                    .nav-search-input {
                        font-size: 1rem;
                    }
                    .nav-search-icon {
                        font-size: 1.7rem;
                        margin-right: 10px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:1300px) {
        .navbar-menu{
            width: 600px;
            margin-top: 20px;
            margin-left: 85px;
            gap: 150px;
            .menu-list{
                width: 300px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 200px;
                    height: 45px;
                    .nav-search-input {
                        font-size: 1rem;
                    }
                    .nav-search-icon {
                        font-size: 1.7rem;
                        margin-right: 10px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:1200px) {
        .navbar-menu{
            width: 300px;
            margin-top: 20px;
            margin-left: 60px;
            gap: 100px;
            .menu-list{
                width: 300px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 200px;
                    height: 40px;
                    .nav-search-input {
                        font-size: 0.8rem;
                    }
                    .nav-search-icon {
                        font-size: 1.5rem;
                        margin-right: 10px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:1100px) {
        .navbar-menu{
            width: 300px;
            margin-top: 20px;
            margin-left: 50px;
            gap: 80px;
            .menu-list{
                width: 300px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 170px;
                    height: 35px;
                    .nav-search-input {
                        font-size: 0.7rem;
                        line-height: 10px;
                    }
                    .nav-search-icon {
                        font-size: 1.7rem;
                        margin-right: 10px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:1000px) {
        .navbar-menu{
            width: 300px;
            margin-top: 20px;
            margin-left: 50px;
            gap: 60px;
            .menu-list{
                width: 300px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 150px;
                    height: 35px;
                    .nav-search-input {
                        font-size: 0.7rem;
                        line-height: 10px;
                    }
                    .nav-search-icon {
                        font-size: 1.7rem;
                        margin-right: 10px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:900px) {
        .navbar-menu{
            width: 300px;
            margin-top: 20px;
            margin-left: 50px;
            gap: 40px;
            .menu-list{
                width: 300px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 150px;
                    height: 35px;
                    .nav-search-input {
                        font-size: 0.7rem;
                        line-height: 10px;
                    }
                    .nav-search-icon {
                        font-size: 1.7rem;
                        margin-right: 10px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:900px) {
        .navbar-menu{
            width: 300px;
            margin-top: 20px;
            margin-left: 70px;
            gap: 70px;
            .navbar-header{
                display: none;
            }
            .menu-list{
                width: 350px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 185px;
                    height: 35px;
                    .nav-search-input {
                        font-size: 0.78rem;
                        line-height: 10px;
                    }
                    .nav-search-icon {
                        font-size: 1.6rem;
                        margin-right: 5px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:850px) {
        .navbar-menu{
            width: 250px;
            margin-top: 20px;
            margin-left: 70px;
            gap: 70px;
            .navbar-header{
                display: none;
            }
            .menu-list{
                width: 300px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 185px;
                    height: 35px;
                    .nav-search-input {
                        font-size: 0.78rem;
                        line-height: 10px;
                    }
                    .nav-search-icon {
                        font-size: 1.6rem;
                        margin-right: 5px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:800px) {
        .navbar-menu{
            width: 250px;
            margin-top: 20px;
            margin-left: 40px;
            gap: 70px;
            .navbar-header{
                display: none;
            }
            .menu-list{
                width: 300px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 185px;
                    height: 35px;
                    .nav-search-input {
                        font-size: 0.78rem;
                        line-height: 10px;
                    }
                    .nav-search-icon {
                        font-size: 1.6rem;
                        margin-right: 5px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:750px) {
        .navbar-menu{
            width: 250px;
            margin-top: 20px;
            margin-left: 40px;
            gap: 40px;
            .navbar-header{
                display: none;
            }
            .menu-list{
                width: 270px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 185px;
                    height: 35px;
                    .nav-search-input {
                        font-size: 0.78rem;
                        line-height: 10px;
                    }
                    .nav-search-icon {
                        font-size: 1.6rem;
                        margin-right: 5px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:700px) {
        .navbar-menu{
            width: 250px;
            margin-top: 20px;
            margin-left: 40px;
            gap: 40px;
            .navbar-header{
                display: none;
            }
            .menu-list{
                width: 270px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 145px;
                    height: 35px;
                    .nav-search-input {
                        font-size: 0.6rem;
                        line-height: 10px;
                    }
                    .nav-search-icon {
                        font-size: 1.3rem;
                        margin-right: 5px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:650px) {
        .navbar-menu{
            width: 250px;
            margin-top: 20px;
            margin-left: 20px;
            gap: 40px;
            .navbar-header{
                display: none;
            }
            .menu-list{
                width: 290px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 40px;
                    height: 35px;
                    .nav-search-input {
                        display: none;
                        font-size: 0.6rem;
                        line-height: 10px;
                        }
                    .nav-search-icon {
                        font-size: 1.3rem;
                        margin-right: 5px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    @media (max-width:550px) {
        .navbar-menu{
            width: 250px;
            margin-top: 20px;
            margin-left: 10px;
            gap: 30px;
            .navbar-header{
                display: none;
            }
            .menu-list{
                width: 250px;
                font-size: 1.3rem;
            }
            .menu-list a:hover{
                line-height: 10px;
            }
            .nav-search-div{
                gap: 15px;
                svg{
                    font-size: 1.7rem;
                }
                .nav-search {
                    padding-left:10px;
                    width: 40px;
                    height: 35px;
                    .nav-search-input {
                        display: none;
                        font-size: 0.6rem;
                        line-height: 10px;
                        }
                    .nav-search-icon {
                        font-size: 1.3rem;
                        margin-right: 5px;
                    }
                }
                .theme-btn{
                    font-size: 1.7rem;
                }
            }
        }
    }
    &.dark .navbar-menu{
        color: rgb(230, 230, 230);
        .menu-list a{
            color: rgb(230, 230, 230);
        }
        .nav-search-div{
            .nav-search{
                background-color: rgb(230, 230, 230);
                .nav-search-input{
                    background-color: rgb(230, 230, 230) ;
                }
            }
            .theme-btn{
                color: rgb(230, 230, 230);
            }
        }
    }
}













