.link-to-product{
    text-decoration: none;
    color: black;
}
.flash-cartitem-div{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 350px;
    border-radius: 4px;
    .flash-cartitem{
        position: relative;
        width: 270px;
        height: 250px;
        border-radius: 4px;
        background-color: #F5F5F5;
        .flash-img img{
            width: 200px;
            height: 200px;
        }
        .flash-image .flash-sale{
            display: flex;
            align-items: center;
            justify-content: center;
           border-radius: 4px;
           margin: 10px 0px 0px 10px;
            width: 60px;
            height: 30px;
            color: white;
            background-color: #db4444;
        }
        .flash-image .flash-icons{
            position: absolute;
            top: 5px;
            right: 10px;
            gap: 10px;
            display: inline-flex;
            height: 90px;
            flex-direction: column;
            padding-top: 10px;
            .flash-icon{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: white;
            }
        }
        .flash-img{
            display: flex;
            justify-content: center;
        }
        .add-to-cart{
            position: absolute;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            bottom: 0px; 
            width: 270px;
            height: 40px;
            background-color: black;
            border-radius: 4px;
            color: white;
            display: none;
        }
    }
    :hover .add-to-cart{
        display: flex;
    }
    .flash-info{
        line-height: 10px;
        .title{
            font-size: 1.1rem;
            line-height: 20px;
        }
        .price{
            color: red;
            margin-right: 15px;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
    &.dark{
        .flash-cartitem{
            background-color: rgba(230, 230, 230, 0.026);
            .flash-image .flash-sale{
                background-color: #430606;
            }
            .flash-image .flash-icons .flash-icon{
                background-color: rgba(230, 230, 230, 0.6);
            }
        }
        :hover .add-to-cart{
            color: rgb(230, 230, 230);
            background-color: rgb(47, 44, 44);
        }
        .flash-info .title{
            color: rgb(230, 230, 230);
        }
        .flash-info .price{
            color: rgb(230, 230, 230);
        }
    }
}
@media (max-width:1500px) {
    .flash-cartitem-div{
        width: 270px;
        height: 350px;
        .flash-cartitem{
            width: 270px;
            height: 250px;
            .flash-img img{
                width: 200px;
                height: 200px;
            }
            .flash-image .flash-sale{
               margin: 10px 0px 0px 10px;
                width: 60px;
                height: 30px;
            }
            .flash-image .flash-icons{
                position: absolute;
                top: 5px;
                right: 10px;
                gap: 10px;
                height: 90px;
                padding-top: 10px;
                .flash-icon{
                    font-size: 1.5rem;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
            .add-to-cart{
                font-size: 1.3rem;
                bottom: 0px; 
                width: 270px;
                height: 40px;
            }
        }
        :hover .add-to-cart{
            display: flex;
        }
        .flash-info{
            line-height: 10px;
            .title{
                font-size: 1.1rem;
                line-height: 20px;
            }
            .price{
                color: red;
                margin-right: 15px;
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }
}

