.footer-div{
    padding: 50px 100px;
    height: 350px;
    color: white;
    background-color: black;
    bottom: 0px;
}
.footer-div.dark{
  background-color: black;
}
.footer-list{
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  line-height: 50px;
}
.footer-link-div{
  display: flex;
  flex-direction: column;
}
.footer-div .copyright-div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    height: 70px;
    color: rgba(172, 170, 170, 0.5);
    border-top: 1px solid rgba(100,100,100,0.7);
}
.footer-div .copyright-div .copyright{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.footer-div .copyright-div .copyright-icon .copyright-icon {
    font-size: 2rem;
}
